:root {
    --font-color: rgb(30, 102, 130);
    --border-color: #d4f2fa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px 35px 20px 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--font-color);
}

header nav {
    margin: 16px 0;
    font-size: 18px;
}

header h1 {
    background-color: var(--border-color);
    padding: 5px 10px 10px 30px;
    font-size: 40px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 10px 5px 10px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 5px solid var(--font-color);
    margin-right: 25px;
    color: var(--font-color);
}

.hero {
    display: flex;
    background-image: url(./Images/HeaderBckgd.png);
    background-size: cover;
    background-position: center;
    line-height: 6;
}

.hero1 {
    width: 70%;
}

.heroH2 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: var(--font-color);
    font-size: 25px;
}

.heroH2 h2 {
    position: relative;
    top: 20%;
}

.intro {
   padding: 20px 35px 20px 0;
   display: flex;
   justify-content: space-between;
}

.intro p {
    width: 85%;
    font-size: 18px;
    margin: 30px 30px 30px 90px;
}

.intro h2 {
    width: 80%;
    font-size: 50px;
    margin: 30px 20px 30px 100px;
    text-align: right;
    border-right: 5px solid black;
    padding: 0 20px 52px 0;
}

.projects {
    padding: 20px 35px 20px 0;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
 }

 .projects h2 {
    width: 80%;
    font-size: 50px;
    margin: 30px 32px 30px 100px;
    text-align: right;
    border-right: 5px solid black;
    padding: 0 20px 52px 0;
 }

 .parent {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;
     width: 55%;
     margin: 30px 138px 0px 90px;
 }

 .child1 {
     flex: 2 100%;
     background-image: url(./Images/HeaderBckgd.png);
     height: 100%;
     padding: 285px 0 0 0;
     border: 5px solid var(--border-color);
}

.child1 h3 {
    background-color: var(--border-color);
    width: 125px;
    padding: 10px 5px 10px 13px;
    font-weight: lighter;
}