:root {
    --font-color: rgb(30, 102, 130);
    --border-color: #d4f2fa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px 35px 20px 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--font-color);
}

header nav {
    margin: 16px 0;
    font-size: 18px;
}

header h1 {
    background-color: var(--border-color);
    padding: 5px 10px 10px 30px;
    font-size: 40px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 10px 5px 10px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 5px solid black;
    margin-right: 35px;
    color: var(--font-color);
}

.hero {
    display: flex;
    flex-wrap: wrap;
    background-image: url(./Images/HeaderBckgd.png);
    background-size: cover;
    background-position: center;
    line-height: 12em;
}

.hero1 {
    width: 70%;
}

.heroH2 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: var(--font-color);
    font-size: 25px;
}

.heroH2 h2 {
    position: relative;
    top: 20%;
    left: 10%;
}

.H2 {
    font-size: 30px;
    text-align: right;
    padding: 10px 25px 10px 30px;
}

.H2 h2 {
    padding: 0 0 0 35px;
}

.intro {
   display: flex;
   margin: 35px 35px 0 35px;
}

.introP {
    font-size: 18px;
    padding: 10px 0 10px 50px;
    border-left: 5px solid var(--font-color);
}

.introP p {
    margin-right: 30px;
    padding-right: 30px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    margin: 35px 0 0 45px;
    color: var(--font-color);
}

.projectsParent {
    border-left: 5px solid black;
    padding: 10px 10px 10px 50px;
}

.childRow1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 20px 0;
}

.childRow2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 20px 0;
}

.child1 {
    background-image: url(./Images/MERN.png);
    background-position: center;
    width: 60em;
    height: 30em;
}


.child2 {
    background-image: url(./Images/InspoIo.png);
    background-position: left;
    width: 28em;
    height: 10em;
}

.child3{
    background-image: url(./Images/Ourspace.png);
    background-position: center;
    width: 28em;
    height: 10em;
    margin-left: 30px;
}

.child4 {
    background-image: url(./Images/Dreadit.png);
    background-position: center;
    width: 28em;
    height: 10em;
}

.child5 {
    background-image: url(./Images/MERN.png);
    background-position: center;
    width: 28em;
    height: 10em;
    margin-left: 30px;
}